<?xml version='1.0' encoding='UTF-8'?>
<Configuration>
	<!-- Appenders은 출력코드이다.
	출력장치는 Console이다.
	Console장치가 n개가 있으면 나온다. 
	name='console'여기서 쓴 네임명을 <AppenderRef ref='console' />
	랑 네임을 똑같이 써줘야한다. -->
	<Appenders>
		<Console name='console' target='SYSTEM_OUT'>
			<PatternLayout />
		</Console>
		<RollingFile name='file' fileName='c:/DEV/spring.core.log'
			filePattern='c:/DEV/spring.core.%d{yyyy-MM-dd-HH-mm-ss}.log' append='true'>
			<PatternLayout pattern='[%-5p: %d{yyyy/MM/dd HH:mm:ss}] %m%n'/>
			<Policies>
			<!-- 86400의 뜻은 24시간이라는 뜻이다.
			백업주기를 24시간으로 정한거다. -->
				<TimeBasedTriggeringPolicy interval='86400'/>
			</Policies>
		</RollingFile>
	</Appenders>
		
	<Loggers>		
		<Root level='info'>
			<AppenderRef ref='console' />
			<AppenderRef ref='file'/>									
		</Root>
	</Loggers>
</Configuration>